<h1>New Enquiry</h1>
{{#if enquiry.email}}
	<p class="text-larger">From
		{{#if enquiry.name}}
			<strong>{{enquiry.name}}</strong>
		{{/if}}
		{{#if enquiry.email}}
			<a href="mailto:{{enquiry.email}}">{{enquiry.email}}</a>
		{{/if}}
	</p>
	{{#if enquiry.phone}}
		<p class="text-larger">Phone: {{enquiry.phone}}</p>
	{{/if}}
	{{#if enquiry.message}}
		{{{enquiry.message.html}}}
	{{/if}}
	<p class="text-muted">Sent {{enquiry.createdAt}}</p>
{{/if}}
